<div id="add_point_area" class="content_column">
  <form action="/member/add_point" method="post">
    <div>
    <label>冲值点数</label><input name="point" type="text"></input>
    </div>


    <input type="submit" value="提交" ></input>

  </form>
  </div>