<div id="change_password_area" class="content_column">
  <script type="text/javascript">
    $(function(){
      $("#change_password_form").submit(function(){
       if($("#new_password").val()==$("#repeat_new_password").val())
         return true;

        alert("新密码输入不一致");
        return false;
      })
    });
    
  </script>
  <form action="/member/change_password" method="post" id="change_password_form">
    <div>
    <label>原密码</label><input name="old_password" type="password"></input>
    </div>
        <div>
    <label>新密码</label><input name="new_password" id="new_password" type="password"></input>
    </div>    <div>
    <label>重复新密码</label><input name="repeat_new_password" id="repeat_new_password" type="password"></input>
    </div>
   
    <input type="submit" value="提交" ></input>

  </form>
  </div>