<style type="text/css">
  #member_index_area a{
    display:block;
  }
</style>
<div id="member_index_area">
  <a href="/member/edit">修改帐户</a>
  <a href="/member/order">我的电影票</a>
  <a href="/member/add_point">冲值</a>
  <a href="/member/change_password">修改密码</a>
</div>