<div id="login_area" class="content_column">
  <form action="/member/login" method="post">
    <p><label> 用户名</label> <input name="member[name]" type="text"></input></p>
    <p> <label> 密码</label><input name="member[password]" type="password"></input></p>
    <p> <input value="登录" type="submit"></input></p>
  </form>
</div>